name: coverage

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'LICENSE'
      - 'README*'
  pull_request:
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/coverage.yml'

env:
  go-version: '1.19'

jobs:
  coverage:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.go-version }}
      - run: go test -coverprofile=cover.out -covermode=count ./...
      - uses: codecov/codecov-action@v5
